{#
/**
 * Exif plugin for Craft CMS
 *
 * ExifFieldType HTML
 *
 * @author    Vadim Goncharov
 * @copyright Copyright (c) 2016 Vadim Goncharov
 * @link      http://roundhouseagency.com
 * @package   Exif
 * @since     0.0.1
 */
#}

{% import "_includes/forms" as forms %}

{% set valuesExist = craft.exif.checkArrayVariable(values) %}


{% if valuesExist %}
  <p>EXIF Information is saved. <a href="https://github.com/roundhouse/Exif" target="_blank">Visit Documentation for usage.</a></p>
{% else %}
  <input class="btn submit" type="submit" value="Update EXIF Information">
{% endif %}