{#
/**
 * Exif Glory plugin for Craft CMS
 *
 * ExifGloryFieldType HTML
 *
 * @author    Vadim Goncharov
 * @copyright Copyright (c) 2016 Vadim Goncharov
 * @link      http://photocollections.io
 * @package   ExifGlory
 * @since     0.0.1
 */
#}

{% import "_includes/forms" as forms %}

<h2>Exif Information</h2>
<p>FNumber: <span>{{ values['exif.FNumber'] }}</span></p>

{# {{ forms.textField({
  id: id ~ 'exifData',
  class: 'nicetext',
  name: name ~ '[exifData]',
  value: values.exifData,
  readonly: true,
  errors: values.getErrors('exifData'),
  required: false,
}) }} #}
